openapi: "3.0.2"
info:
  title: Beacon API
  version: "v1"
servers:
  - url: https://beacon-api.axleapi.com/v1
security:
  - bearerAuth: []
paths: 
  /integrations/webhooks/loads:
    post:
      tags:
        - Loads 
      summary: Create a new load
      description: Send a new load to Beacon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Load'
      responses:
        '201':
          description: Load created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /integrations/webhooks/check-calls:
    post:
      tags:
        - Track & Trace
      summary: Create a new check call
      description: Send a new check call to be stored in Beacon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckCall'
      responses:
        '201':
          description: Check call created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error
          
  /integrations/webhooks/exceptions:
    post:
      tags: 
        - Track & Trace
      summary: Create a new exception
      description: Send a new exception to be stored in Beacon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exception'
      responses:
        '201':
          description: Exception created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /integrations/webhooks/quotes:
    post:
      tags: 
        - Quotes
      summary: Create a new quote
      description: Send a new quote to be stored in  Beacon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quote'
      responses:
        '201':
          description: Quote created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Load:
      type: object
      properties:
        externalTMSLoadID:
          type: string
        freightLoadID: 
          type: string
        status:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        billTo:
          $ref: '#/components/schemas/BillTo'
        pickup:
          $ref: '#/components/schemas/Pickup'
        consignee:
          $ref: '#/components/schemas/Consignee'
        carrier:
          $ref: '#/components/schemas/Carrier'
        rateData:
          $ref: '#/components/schemas/RateData'
        specifications:
          $ref: '#/components/schemas/Specifications'
        inPalletCount:
          type: integer
        outPalletCount:
          type: integer
        numCommodities:
          type: integer
        totalWeight:
          type: number
        billableWeight:
          type: number
        poNums:
          type: string
        operator:
          type: string
        routeMiles:
          type: number

    Customer:
      type: object
      properties:
        externalTMSId:
          type: string
        name:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        zipcode:
          type: string
        country:
          type: string
        contact:
          type: string
        phone:
          type: string
        email:
          type: string
        refNumber:
          type: string

    BillTo:
      type: object
      properties:
        externalTMSId:
          type: string
        name:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        zipcode:
          type: string
        country:
          type: string
        contact:
          type: string
        phone:
          type: string
        email:
          type: string

    Pickup:
      type: object
      properties:
        externalTMSId:
          type: string
        name:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        zipcode:
          type: string
        country:
          type: string
        contact:
          type: string
        phone:
          type: string
        email:
          type: string
        businessHours:
          type: string
        refNumber:
          type: string
        readyTime:
          type: string
          format: date-time
        apptTime:
          type: string
          format: date-time
        apptNote:
          type: string
        timezone:
          type: string

    Consignee:
      type: object
      properties:
        externalTMSId:
          type: string
        name:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        state:
          type: string
        zipcode:
          type: string
        country:
          type: string
        contact:
          type: string
        phone:
          type: string
        email:
          type: string
        businessHours:
          type: string
        refNumber:
          type: string
        mustDeliver:
          type: string
        apptTime:
          type: string
          format: date-time
        apptNote:
          type: string
        timezone:
          type: string

    Carrier:
      type: object
      properties:
        mcNumber:
          type: string
        dotNumber:
          type: string
        name:
          type: string
        phone:
          type: string
        dispatcher:
          type: string
        sealNumber:
          type: string
        scac:
          type: string
        firstDriverName:
          type: string
        firstDriverPhone:
          type: string
        secondDriverName:
          type: string
        secondDriverPhone:
          type: string
        email:
          type: string
        dispatchCity:
          type: string
        dispatchState:
          type: string
        externalTMSTruckId:
          type: string
        externalTMSTrailerId:
          type: string
        confirmationSentTime:
          type: string
          format: date-time
        confirmationReceivedTime:
          type: string
          format: date-time
        dispatchedTime:
          type: string
          format: date-time
        expectedPickupTime:
          type: string
          format: date-time
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        expectedDeliveryTime:
          type: string
          format: date-time
        deliveryStart:
          type: string
          format: date-time
        deliveryEnd:
          type: string
          format: date-time
        signedBy:
          type: string
        externalTMSId:
          type: string

    RateData:
      type: object
      properties:
        customerRateType:
          type: string
        customerNumHours:
          type: number
        customerLhRateUsd:
          type: number
        fscPercent:
          type: number
        fscPerMile:
          type: number
        carrierRateType:
          type: string
        carrierNumHours:
          type: number
        carrierLhRateUsd:
          type: number
        carrierMaxRate:
          type: number
        netProfitUsd:
          type: number
        profitPercent:
          type: number

    Specifications:
      type: object
      properties:
        minTempFahrenheit:
          type: number
        maxTempFahrenheit:
          type: number
        liftgatePickup:
          type: boolean
        liftgateDelivery:
          type: boolean
        insidePickup:
          type: boolean
        insideDelivery:
          type: boolean
        tarps:
          type: boolean
        oversized:
          type: boolean
        hazmat:
          type: boolean
        straps:
          type: boolean
        permits:
          type: boolean
        escorts:
          type: boolean
        seal:
          type: boolean
        customBonded:
          type: boolean
        labor:
          type: boolean

    SuccessResponse:
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: string
          format: date-time

    CheckCall:
      type: object
      properties:
        externalTMSLoadID:
          type: string
        freightLoadID: 
          type: string
        city:
          type: string
        state:
          type: string
        message:
          type: string
        ediReason:
          type: string
        dateTime:
          type: string
          format: date-time
        author:
          type: string
        notes:
          type: string
        dateTimeWithTimezone:
          type: string
          format: date-time
        fragmentId:
          type: string
        lat:
          type: number
        lon:
          type: number
        shipmentStatus:
          type: string
        status:
          type: string
        reason:
          type: string
        endDateTimeWithTimezone:
          type: string
          format: date-time
        nextStopEtaWithTimezone:
          type: string
          format: date-time
        source:
          type: string

    Exception:
      type: object
      properties:
        externalTMSLoadID:
          type: string
        freightLoadID: 
          type: string
        eventCode:
          type: string
        inputUser:
          type: string
        carrier:
          type: string
        driver:
          type: string
        fault:
          type: string
        trailer:
          type: string
        note:
          type: string
        status:
          type: string
        dateTimeWithTimezone:
          type: string
          format: date-time
    
    Quote:
      type: object
      properties:
        externalTMSLoadID:
          type: string
        userId:
          type: integer
        transportType:
          type: string
        commodity:
          type: string
        weight:
          type: number
        targetBuyRate:
          type: number
        lowBuyRate:
          type: number
        highBuyRate:
          type: number
        startBuyRate:
          type: number
        fuelRate:
          type: number
        distance:
          type: number
        confidenceLevel:
          type: integer
        currency:
          type: string
        targetSellCost:
          type: number
        pickupName:
          type: string
        pickupAddressLine1:
          type: string
        pickupAddressLine2:
          type: string
        pickupCity:
          type: string
        pickupState:
          type: string
        pickupZip:
          type: string
        pickupDateWithTimezone:
          type: string
          format: date-time
        pickupCountry:
          type: string
        dropoffName:
          type: string
        dropoffAddressLine1:
          type: string
        dropoffAddressLine2:
          type: string
        dropoffCity:
          type: string
        dropoffState:
          type: string
        dropoffZip:
          type: string
        dropoffCountry:
          type: string
        dropoffDateWithTimezone:
          type: string
          format: date-time
        weightLbs:
          type: number
        qualifiedLead:
          type: boolean
        minMarkup:
          type: number
        maxMarkup:
          type: number
        leadContacted:
          type: boolean
        pipeline:
          type: string
        pallets:
          type: object
        totalCost:
          type: number
        emailAddress:
          type: string
        available:
          type: boolean
        notes:
          type: string